@import "style_constants";

.container {
  max-width: $component-width;
  position: relative;
  margin: 40px 10px;
}

.error-message {
  display: none;
  position: absolute;
  font-size: 0.8em;
  margin: 5px 10px;
  letter-spacing: 0.05em;
  color: $color-font;
}

.clear {
  left: 100%;
  top: 20px;
  cursor: pointer;
  transition: top .5s;
  position: absolute;
  color: $color-font;
}

.title {
  left: 10px;
  top: 20px;
  position: absolute;
  transition: top .5s;
  color: $color-font;
}

.warning {
  .error-message {
    display: block;
    color: $color-warning;
  }
}

.hide {
  display: none;
}

.underlined, .filled {
  .input {
    width: 100%;
    height: 30px;
    border: none;
    font-size: 1rem;
    line-height: 90%;
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 1px;
    color: $color-font;
    background-color: transparent;
    border-bottom: 1px solid $color-border;

    &:focus {
      outline: none;
    }

    @at-root .warning#{&} {
      border-color: $color-warning;
    }
  }
}

.label-up {
  top: auto;
}

.text-right {
  text-align: right;
}
