@import 'style_constants';

.button {
  width: 100%;
  height: 48px;
  font-size: 16px;
  color: $white;
  border: none;
  border-radius: 8px;
  background: $blue;
  cursor: pointer;
  transition: .4s;

  &:hover {
    background: $blue-hover;
  }

  &:active {
    transition: 0s;
    background: $blue-active;
  }

  &:disabled {
    background: $grey;
    pointer-events: none;
    color: $black;
  }
}

.light {
  background: $blue-light;
}

.transparent {
  border: 1px solid $blue;
  background: transparent;
}

.loading {
  &:hover {
    background: $blue;
  }
}
