$color-none: none;
$color-font: #FFF;
$color-warning: #F31616;
$color-border: #163BF3;
$blue-light: #647FEC;
$color-background: #0A0708;
$component-width: 300px;
$blue-hover: #405CE9;
$blue-active: #1231CC;
$grey: #A9A9A9;
