@import "constants";

// Reset button style
button {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
  border: none;
  background-color: transparent;
  display: inline-block;
  box-shadow: none;
  cursor: pointer;

  &:active, &:focus {
    outline: none;
  }

  &::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
}

body {
  background: $black;
  color: $white;
  margin: 0;
  height: 100%;
}

.app {
  min-width: 320px;
  height: 100%;
}
