@import 'style_constants';

.container {
  max-width: 1280px;
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  position: sticky;
  top: 60px;
  right: 0;
  width: 100%;
  justify-content: end;
  column-gap: 15px;
}

.repositoryLink {
  color: $white;
  font-weight: 700;
  margin: 20px 0;
}

.link {
  background-color: $black;
  border-radius: 8px;
  width: 100%;
  max-width: 220px;
}

.signInLink {
  width: 100%;
  max-width: 150px;
}

.welcome {
  max-width: 929px;
  margin-top: 100px;
}

.welcomeDescription {
  margin-top: 50px;
  max-width: 400px;
  text-align: center;
  line-height: 24px;
}

.span {
  color: $blue;
}

.developersTitle {
  margin-top: 20px;
}

.developers {
  display: flex;
  column-gap: 30px;
  margin-top: 40px;
  padding: 0;
}

.gameRules {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px solid $blue;
  border-radius: 8px;
  max-width: 575px;
  padding: 40px 29px;
  margin-top: 77px;
}

.rulesTitle {
  font-weight: 700;
  margin: 0;
}

.rulesDescription {
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 25px;
}
