@import "../constants";

.helper {
  display: none;
  position: absolute;
  font-size: 0.9rem;
  margin: 0.1rem 0.8rem;
  letter-spacing: 0.02rem;
  color: $color-font;
}

.danger {
  textarea {
    border-color: $color-warning;

    &:focus {
      outline: none;
      box-shadow: inset 0 0.05rem 0.1rem 0.01rem $color-warning;
    }
  }

  input {
    border-color: $color-warning;
  }

  .helper {
    display: block;
  }

  .helper, .input-label {
    color: $color-warning;
  }
}

.hide {
  display: none;
}
